/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}


html, body { heigth: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-button-color: #C82A54;
$succes-button-color: #8C4966;

$header-color: white;
$body-color: #FDF2f5;
